/* jana dates product website */


/*Universal selector property*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

html {
  --primaryColor: #ffab4c;
  --secondaryColor: #FFFFFF;
  --thirdColor: #587850;
  --fourthColor: #222222;
}


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: 50px;
}

h2 {

  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3,
h3 a {
  color: #454545;
}

p {
  color: #2C3333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}


.navo {
  padding-left: 10%;
}


.nav-Logo {
  width: 30%;
  position: absolute;
  padding-right: 30px;
  box-shadow: 200px #1c1c1c;

}

.nav-Logo img {
  width: 14%;


}

a:hover,
a:active,
a:focus {
  color: #bd970a;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.for-export-s-title {
  padding: 20px;
  max-width: 1000px;
}

.section-title h2 {
  margin: 0;
}

.section-title h4 {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  padding: 0;
}

#team,
#menu,
#testimonial {
  text-align: center;
}





/*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

.section-btn {
  background: var(--primaryColor);
  border-radius: 5px;
  border: 10px;
  color: #f9f9f9;
  font-size: inherit;
  font-weight: normal;
  padding: 10px 25px;
  transition: 0.5s 0.2s;
}



/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid var(--primaryColor);
  border-top-color: var(--thirdColor);
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


.custom-navbar {
  border: none;
  margin-bottom: 0;
  padding: 10px 0;
}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.custom-navbar .navbar-brand span {
  color: var(--primaryColor);
}

.navbar-brand img {
  position: absolute;
}

.top-nav-collapse {
  background: #ffffff;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 12px;
  padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right .section-btn {
  display: inline-block;
  margin: 0.2em 0 0 1em;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:hover {
  background: #292929;
  color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:focus {
  color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn a {
  padding: 10px 25px;
}

.custom-navbar .nav .section-btn a:hover {
  color: #ffffff;
}

.nav-Bar .nav li a {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 22px;
  padding-left: 22px;
  text-transform: uppercase;

}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: var(--primaryColor);
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active>a {
  background-color: transparent;
  color: var(--primaryColor);
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #252525;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.169);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }

  .top-nav-collapse .navbar-brand {
    color: red;
  }

  .top-nav-collapse .nav li a {
    color: #252525;
  }

  .top-nav-collapse .nav .section-btn a {
    color: #ffffff;
  }

  .btn-0 i {
    color: black;
  }
}



/*---------------------------------------
      HOME              
  -----------------------------------------*/

#home {
  padding: 0;
  margin: 0;
}

#home h1 {
  color: #ffffff;
  padding-bottom: 30px;
}

#home h3 {
  color: #FFFFFF;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .slider .col-md-8 {
    padding-left: 0;
  }
}

.slider .owl-dots {
  position: absolute;
  top: 50%;
  right: 2em;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot {
  display: block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 7px 10px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  transition: opacity 500ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  height: 100%;
  color: #fff;
  cursor: e-resize;
  padding: 4em 0 0 2em;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}

.slider .item-first {
  background-image: url(../images/slider-image1.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider .item-second {
  background-image: url(../images/slider-image2.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider .item-third {
  background-image: url(../images/slider-image3.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider2 .item-first {
  background-image: url(../images/Dates-Blog-.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider2 .item-second {
  background-image: url(../images/palm-trees.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.slider2 .item-third {
  background-image: url(../images/Dates-Blog-.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}




.overlay-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.overlay-layer2 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 80vh;
  width: 100%;
}

.slider .item-second .section-btn {
  background: #292929;
}

.slider .item-second .section-btn:hover {
  background: #ffffff;
}

.slider .item-third .section-btn {
  background: transparent;
  border: 1px solid #ffffff;
}

.slider .item-third .section-btn:hover,
.slider .item-third .section-btn:focus {
  background: var(--primaryColor);
  border-color: transparent;
  color: #ffffff;
}



/*---------------------------------------
      ABOUT              
  -----------------------------------------*/

#about {
  padding: 0;
  margin: 0;
}

.about-info {
  padding: 0 6em 5em 0;
  position: relative;
}

.about-info .section-title {
  padding-bottom: 20px;
}



#team {
  padding: 0;
}

.team-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-info {
  width: 100%;
  background-color: #222222;
  padding: 10px 30px 20px 30px;
}

.team-thumb .team-hover {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.team-thumb img {
  transition: 0.5s 0.2s;
}

.team-thumb:hover img {
  transform: scale(1.1);
}

.team-thumb .social-icon li a {
  background: #292929;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9d9d9;
  font-size: 20px;
  margin: 15px 5px 0 5px;
}

.team-thumb .team-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.team-info p {
  color: #bfbdbd;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
}





#menu {
  padding: 0;
  margin: 0;
  max-width: 1000px;
}

#menu .container {
  width: 100%;
}

#menu .col-md-4 {
  margin: 0;
  padding: 0;
}

.menu-thumb img {
  width: 100%;
  transition: 0.5s;
  padding: 30px;
}

.menu-thumb:hover img {
  transform: scale(1.15);
}

#menu .menu-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 102%;
}

.menu-thumb .menu-info {
  position: absolute;
  top: 60%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding: 25px 30px;
  transition: 0.5s 0.2s;
}

.menu-info .menu-item {
  float: left;
}

.menu-info .menu-price {
  float: right;
}

.menu-info .menu-price span {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  display: block;
  margin-top: 10px;
}

.menu-thumb .menu-info h3,
.menu-thumb .menu-info p,
.menu-thumb .menu-info span {
  transform: translateY(100%);
  opacity: 0;
  display: block;
  transition: 0.5s 0.2s;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.menu-thumb .menu-info h3 {
  margin-top: 0;
}

.menu-thumb .menu-info p {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu-thumb:hover .menu-info h3,
.menu-thumb:hover .menu-info p,
.menu-thumb:hover .menu-info span {
  transform: translateY(0px);
  opacity: 1;
}

.menu-thumb:hover .menu-info {
  background: rgba(0, 0, 0, 0.8);
}



/*---------------------------------------
      CONTACT              
  -----------------------------------------*/

#contact {
  padding: 0;
}

#contact .section-title {
  padding-bottom: 0;
}

#contact .text-success,
#contact .text-danger {
  display: none;
}

#contact .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:hover,
#contact .form-control:focus {
  border-bottom-color: #c9c9c9;
}

#contact input {
  height: 55px;
}

#contact button#cf-submit {
  background: var(--secondaryColor);
  border-radius: 10px;
  border: 0;
  color: var(--fourthColor);
  font-weight: bold;
  height: 50px;
}

#contact button#cf-submit:hover {
  background: var(--thirdColor);
  color: #ffffff;
}

footer h2 {
  font-size: 20px;
}


footer address p {
  margin-bottom: 0;
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 100px;
  color: var(--primaryColor);
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.social-icon li a:hover {
  background: var(--primaryColor);
}







.about-Me {
  width: 100%;
  padding: 3%;
  background-color: var(--secondaryColor);
}

.about-Img img {
  width: 75%;
  border-radius: 5px;

  margin-left: 13%;
}

.about-info p {
  font-weight: 600;
  font-size: large;
  color: #222222;
}

.about-info {
  margin-top: 10%;
}

.for-export {
  width: 100%;
  padding: 10% 0;
}

.ourProducts {
  background-color: var(--primaryColor);
  width: 100%;
  padding: 0 5% 5% 5%;

}

.product-box-group {
  margin-top: 6%;
}

.product-box img {
  width: 100%;
  height: 100%;
}


.for-Export-title p {
  font-style: oblique;
  height: 80%;
  padding: 0%5;
  margin: 20% 10%;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 50px;
}

.palm-trees img {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}





.contact {
  padding: 5% 25%;
  margin: 0;
  width: 100%;
  text-align: center;
}

.contact h2 {
  color: var(--secondaryColor);
}



.hero-icons {
  font-size: larger;
  color: var(--primaryColor);
  flex-wrap: nowrap;
}

.iconDiv i {
  color: var(--thirdColor);
  flex-wrap: nowrap;
}

.copyRight {
  background-color: var(--primaryColor);
  width: 100%;
  height: 20%;
}

.copyRight p {
  color: #f9f9f9
}




.for-export h2,
h3,
h4,
p {
  color: var(--secondaryColor);
}

.ourProducts h2,
h4 {
  color: var(--fourthColor);
}

.ourProducts h2 {
  margin-top: 3%;
}

.footerSection {
  background-color: var(--secondaryColor);
}

.footer {
  text-align: center;

}

.footerSection {
  margin: 0;
}

.footer p {
  margin-bottom: 0;
}

.iCons {
  font-size: x-large;
}

.leaves-img {
  width: 10%;
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
}

.leaves-img2 {
  width: 30%;
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
  position: absolute;
}

.leaves-img3 {
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
  position: absolute;
}

.leaves-img4 {
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
  position: absolute;
}

.leves5 {
  margin-bottom: 30px;
}

.leves5 img {
  width: 25%;
  float: left;
  margin-left: 35%;
}

.for-export {
  background-color: var(--thirdColor);
}

.contacT {
  background-color: var(--fourthColor);
}

.navIcon {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.btn-0 li a i {
  font-size: 30px;
  color: var(--thirdColor);
  padding: 10px;
}

.btn-0 {
  background: transparent;
  width: 30px;
  height: 30px;
  border: solid 1px var(--primaryColor);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;

}

.btn-0:hover {
  transition: 0.3s;
  cursor: pointer;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  z-index: -9;

}


.for-export h4 {
  color: var(--secondaryColor);
}

.socia-Icon {
  z-index: 10;
}


.footer-distributed {
  background: var(--thirdColor);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 13px sans-serif;
  padding: 30px 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  text-align: center;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 20px;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px 10px;
  
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}


.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #eaecee;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
  float: left;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  flex-wrap: nowrap;
}
.email-icon p{
  flex-wrap: nowrap;
font-size: medium;
font-weight: bolder;
}